.leftHeader{
    margin-left: 20px;
    display: flex;
    justify-content: left;
    gap: 20%;
    margin: 20px 0px 0px 20px;
}

.upDatebtn {
    background-color: rgb(29, 69, 40);
    color: white;
    padding: 6px;
    border-radius: 7px;
    border: 1px solid green;
}
