*{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.App {
  text-align: left;
  background-color: rgb(7, 7, 7);
}

p {
  max-width: 380px;
  margin:5px;
  margin-top: 15px;
}

ul {
  list-style: none;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  font-size: 22px;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-body {
  border: 2px solid rgb(11, 59, 23);
  border-radius: 5px;
}

.close-button {
  margin-left: 200px;
}

.navbar {
  display: flex;
  width: 100%;
  gap: 100px;
  margin-top: 15px;
  justify-content: space-around;
  align-items: center;
  justify-content: center;
  border-radius: 3%;
}
.container {
  background-color: #588d5c;
  padding: 5px;
  border-radius: 1%;
  gap: 35px;
}

.leftContainer {
 display: flex;
 text-align: center;
 gap: 35px;
  }

  .searchResult {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2px;
}
